title: Andrea Esposito
description: >-
  Andrea Esposito's website and blog.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://espositoandrea.github.io" # the base hostname & protocol for your site, e.g. http://example.com
canonical_url: "https://espositoandrea.github.io/"
repository: "espositoandrea/espositoandrea.github.io"
github_username: espositoandrea
logo: https://github.com/espositoandrea.png

# Build settings
markdown: MyMarkdownProcessor
kramdown:
  syntax_highlighter: rouge
theme: minima
plugins:
  - jekyll-asciidoc
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate-v2
  - jekyll-archives
  - jekyll-scholar

jekyll-archives:
  enabled:
    - year
    - month
    - categories
    - tags
  layouts:
    year: archives/year
    month: archives/month
    category: archives/categories-and-tags
    tag: archives/categories-and-tags
  permalinks:
    year: /blog/posts/:year/
    month: /blog/posts/:year/:month/
    category: /blog/posts/categories/:name.html
    tag: /blog/posts/tags/:name.html

permalink: /blog/posts/:year/:month/:title.html

pagination:
  per_page: 10
  enabled: true
  permalink: /:num/
  sort_field: "date"
  sort_reverse: false
  trail:
    before: 2
    after: 2

webmaster_verifications:
  google: dhfKLjZs_wpaHCN7Xqfok6Pish0zIgaVjCMFsgEc__0

social:
  links:
    - https://github.com/espositoandrea/
    - https://twitter.com/espositoandrea_/
    - https://www.linkedin.com/in/esposito-andrea/
seo:
  links:
    - https://github.com/espositoandrea/
    - https://twitter.com/espositoandrea_/
    - https://www.linkedin.com/in/esposito-andrea/
  type: Person

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      math: false
      is_post: true
  # -
  #   scope:
  #     path: ""
  #     type: "pages"
  #   values:
  #     layout: "default"

author:
  name: "Andrea Esposito"
  firstName: Andrea
  twitter: espositoandrea_
  surname: Esposito
  honorificPrefix: Mr
  jobTitle: Student
  mail: "esposito_andrea99@hotmail.com"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - CurriculumVitae/
