---
layout: default
lang: en
title: "Blog"
permalink: /blog/
pagination:
  enabled: true
---

<main class="container p-3 flex-grow-1">
    <header>
        <h1>{{ page.title | smartify }}</h1>
        <hr />
    </header>
    <div class="card-columns">
        {% for post in paginator.posts %}
            {%include post.html post=post %}
        {% endfor %}
    </div>

</main>

<!-- pagination -->
<div class="text-center my-3">
    {% if paginator.total_pages > 1 %}
    <div class="btn-group " role="group" aria-label="Blog pagination" >
        {% if paginator.previous_page %}
        <a class="btn btn-secondary" href="{{ paginator.previous_page_path | absolute_url }}">&laquo; Prev</a>
        {% else %}
        <a class="btn btn-secondary disabled">&laquo; Prev</a>
        {% endif %}
        
        {% for trail in paginator.page_trail %}
        {% if page.url == trail.path %}
        <a class="btn btn-secondary active">{{ trail.num }}</a>
        {% else %}
        <a class="btn btn-secondary" href="{{ trail.path | absolute_url }}">{{ trail.num }}</a>
        {% endif %}
        {% endfor %}
        
        {% if paginator.next_page %}
        <a class="btn btn-secondary" href="{{ paginator.next_page_path | absolute_url }}">Next &raquo;</a>
        {% else %}
        <a class="btn btn-secondary disabled">Next &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>
