---
layout: default
lang: en
title: "Blog"
permalink: /blog/
pagination:
  enabled: true
---

<main class="container p-3 flex-grow-1">
    <header>
        <h1>{{ page.title | smartify }}</h1>
        <hr />
    </header>
    <div>
        {% for post in paginator.posts %}
            <article class="post">
                <header class="text-center mb-3">
                    <h2>
                        <a href="{{ post.url | absolute_url }}">
                            {{ post.title | smartify }}
                        </a>
                    </h2>
                    <div>
                        <span>{{ post.author }}</span>
                        &bullet;
                        <span>{{ post.date | date: "%B %e, %Y" }}</span>
                    </div>
                </header>
                <div>
                    {{ post.excerpt | markdownify }}
                </div>
                <footer class="text-center">
                    <a href="{{ post.url | absolute_url }}">Read More</a>
                </footer>
            </article>
            <hr class="w-50"/>
        {% endfor %}
    </div>

</main>

<!-- pagination -->
<div class="text-center my-3">
    {% if paginator.total_pages > 1 %}
    <div class="btn-group " role="group" aria-label="Blog pagination" >
        {% if paginator.previous_page %}
        <a class="btn btn-secondary" href="{{ paginator.previous_page_path | absolute_url }}">&laquo; Prev</a>
        {% else %}
        <a class="btn btn-secondary disabled">&laquo; Prev</a>
        {% endif %}
        
        {% for trail in paginator.page_trail %}
        {% if page.url == trail.path %}
        <a class="btn btn-secondary active">{{ trail.num }}</a>
        {% else %}
        <a class="btn btn-secondary" href="{{ trail.path | absolute_url }}">{{ trail.num }}</a>
        {% endif %}
        {% endfor %}
        
        {% if paginator.next_page %}
        <a class="btn btn-secondary" href="{{ paginator.next_page_path | absolute_url }}">Next &raquo;</a>
        {% else %}
        <a class="btn btn-secondary disabled">Next &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>
