---
layout: default
lang: en
permalink: /index.html
title: "Andrea Esposito"
---

<main class="container p-0">
    <section class="p-3 p-lg-5" id="about">
        {% include introduction.html %}
    </section>
    <section class="p-3 p-lg-5" id="curriculum">
        {% include curriculum.html %}
    </section>
    <section class="p-3 p-lg-5" id="education">
        {% include education.html %}
    </section>
    {% comment %} {% include awards.html %} {% endcomment %}
    {% comment %} {% include skills.html %} {% endcomment %}
    <section class="p-3 p-lg-5" id="publications">
        {% include publications.html %}
    </section>
    <section class="p-3 p-lg-5" id="projects">
        {% include projects.html %}
    </section>
    {% comment %} {% include posts.html %} {% endcomment %}
</main>
