---
layout: default
lang: en
permalink: /index.html
title: "Andrea Esposito"
---

<main class="container p-0">
    <div class="row w-100">
        <section class="col-sm-4" id="about">
            <div class="row align-items-center justify-content-center m-0 w-100 p-3 p-lg-5 sticky-lg-top text-center" itemscope=""
                itemtype="https://schema.org/Person">
                <div class="col-8 col-md-5 mb-3 mb-md-0">
                    <img alt="Andrea Esposito" class="w-100 img-thumbnail rounded-circle" src="{{ '/assets/images/profile.jpeg' | absolute_url }}">
                </div>
                <div class="col-auto mb-3 mb-md-0">
                    <div class="mb-4">
                        <h1 class="mb-0 h5 mt-2">
                            <span>Andrea</span>
                            <span>Esposito</span>
                        </h1>
                        {{ site.data.curriculum.title | smartify }}
                    </div>
                    <div class="mb-4">
                        <div>
                            {{ site.data.curriculum.affiliation.position | smartify }}
                        </div>
                        <div>
                            <a href="{{ site.data.curriculum.affiliation.laboratory.url | smartify }}" target="_blank">
                                {{ site.data.curriculum.affiliation.laboratory.name | smartify }}
                            </a>
                        </div>
                        <div>
                            <a href="{{ site.data.curriculum.affiliation.department.url | smartify }}" target="_blank">
                                {{ site.data.curriculum.affiliation.department.name | smartify }}
                            </a>
                        </div>
                        <div>
                            <a href="{{ site.data.curriculum.affiliation.institution.url | smartify }}" target="_blank">
                                {{ site.data.curriculum.affiliation.institution.name | smartify }}
                            </a>
                        </div>
                        <!-- 3542 Berry Street &centerdot; Taranto, IT 74122 &centerdot; XXX XXX XXXX &centerdot; -->
                    </div>
                    <div class="mb-4">
                        <strong>Email:</strong>
                        <a href="mailto:{{ site.author.mail }}">{{ site.author.mail }}</a>
                    </div>
                    <div class="navbar navbar-expand">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                {% for contact in site.data.contacts %}
                                <li class="nav-item">
                                    <a class="mr-2 nav-link text-primary" href="{{ contact.link }}" rel="me noopener noreferrer"
                                        target="_blank" itemprop="sameAs" content="{{ contact.link }}">
                                        <span class="sr-only">{{ contact.name }}</span>
                                        <i class="fa-lg {{ contact.icon }}"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="col-sm-8">
            <section class="p-3 p-lg-5" id="curriculum">
                <h2>Curriculum</h2>

                {{ site.data.curriculum.brief | markdownify }}
                <p>He is a member of:
                    {% for membership in site.data.curriculum.memberships %}
                    {% if forloop.last %}and{% endif %}
                    <a href="{{ membership.url }}" target="_blank">{{ membership.short }}</a> ({{ membership.institution }})
                    since {{ membership.since | date: "%B %Y" }}{% unless forloop.last %}, {% endunless %}{% endfor %}.
                </p>
            </section>
            <section class="p-3 p-lg-5" id="experience">
                <h2>Experience</h2>
                <ul>
                    {% for edu in site.data.curriculum.experiences %}
                    {%- capture end_date -%}
                    {% if edu.years.end != nil %}
                    {{ edu.years.end | date: "%b %Y" }}
                    {% else %}
                    Present
                    {% endif %}
                    {%- endcapture -%}

                    <li>
                        <strong>{{ edu.title | smartify }}</strong>
                        ({{ edu.years.start | date: "%b %Y" }}
                        &ndash;
                        {{ end_date | strip }}),
                        <em>
                            {% if edu.institute.url %}
                            <a target="_blank" href="{{ edu.institute.url }}">{{ edu.institute.name | smartify }}</a>
                            {% else %}
                            {{ edu.institute | smartify }}
                            {% endif %}
                            ({{ edu.location | smartify }})</em>.
                        <div>
                            {% if edu.notes %}
                            {{ edu.notes | markdownify }}
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="p-3 p-lg-5" id="education">
                <h2>Education</h2>
                <ul>
                    {% for edu in site.data.curriculum.education %}
                    {%- capture end_date -%}
                    {% if edu.years.end != nil %}
                    {{ edu.years.end | date: "%b %Y" }}
                    {% else %}
                    Present
                    {% endif %}
                    {%- endcapture -%}

                    <li>
                        <strong>{{ edu.title | smartify }}</strong>
                        ({{ edu.years.start | date: "%b %Y" }}
                        &ndash;
                        {{ end_date | strip }}),
                        <em>
                            {% if edu.institute.url %}
                            <a target="_blank" href="{{ edu.institute.url }}">{{ edu.institute.name | smartify }}</a>
                            {% else %}
                            {{ edu.institute | smartify }}
                            {% endif %}
                            ({{ edu.location | smartify }})</em>.
                        <div>
                            {% if edu.notes %}
                            {{ edu.notes | markdownify }}
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            {% comment %} {% include awards.html %} {% endcomment %}
            {% comment %} {% include skills.html %} {% endcomment %}
            <section class="p-3 p-lg-5" id="publications">
                {% include publications.html %}
            </section>
            <section class="p-3 p-lg-5" id="projects">
                <h2>Projects</h2>
                <p>
                    Here is a list of some of the <em>open-source</em> projects on which I
                    worked. In the following list are presented both personal projects and
                    projects published under third-party organizations.
                </p>

                {% repositories site.data.repos_data %}
            </section>
            {% comment %} {% include posts.html %} {% endcomment %}
        </div>
    </div>
</main>