<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                {% for contact in site.data.contacts %}
                <li>
                    <i class="{{ contact.icon }}"></i>
                    <span class="sr-only">{{ contact.type }}:</span> 
                    {% if contact.link.haslink %}
                    <a href="{{ contact.link.url }}" {% if contact.link.targetblank %} target="_blank" {% endif %}>{{ contact.text }}</a>
                    {% else %}
                    {{ contact.text }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>