<aside class="education aside section">
        <div class="section-inner">
            <h2 class="heading">Education</h2>
            <div class="content">
                {% for step in site.data.education reversed %}
                <div class="item">
                    <h3 class="title"><i class="fas fa-graduation-cap"></i> {{ step.title }}</h3>
                    <h4 class="university">{{ step.location }} <span class="year">({{ step.years }})</span></h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </aside>