<h2>Education</h2>
<ul>
    {% for edu in site.data.curriculum.education %}
        {%- capture end_date -%}
            {% if edu.years.end != nil %}
                {{ edu.years.end | date: "%b %Y" }}
            {% else %}
                Present
            {% endif %}
        {%- endcapture -%}

        <li>
            <strong>{{ edu.title[page.lang] | smartify }}</strong>
            ({{ edu.years.start | date: "%b %Y" }}
            &ndash;
            {{ end_date | strip }}),
            <em>{{ edu.institute[page.lang] | smartify }}
                ({{ edu.location[page.lang] | smartify }})</em>.
            <div>
                {% if edu.notes %}
                    {{ edu.notes[page.lang] | smartify }}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
