<h2>Experiences</h2>
<ul>
    {% for edu in site.data.curriculum.experiences %}
        {%- capture end_date -%}
            {% if edu.years.end != nil %}
                {{ edu.years.end | date: "%b %Y" }}
            {% else %}
                Present
            {% endif %}
        {%- endcapture -%}

        <li>
            <strong>{{ edu.title | smartify }}</strong>
            ({{ edu.years.start | date: "%b %Y" }}
            &ndash;
            {{ end_date | strip }}),
            <em>{{ edu.institute | smartify }}
                ({{ edu.location | smartify }})</em>.
            <div>
                {% if edu.notes %}
                    {{ edu.notes | markdownify }}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
