<div class="row align-items-center justify-content-center">
    <div class="col col-md-3 mb-3 mb-md-0">
        <img alt="Andrea Esposito" class="img-thumbnail rounded-circle" src="{% profile_pic %}">
    </div>
    <div class="col-auto mb-3 mb-md-0">
        <div class="mb-4">
            <h1 class="mb-0 text-uppercase">
                <span>Andrea</span>
                <span>Esposito</span>
            </h1>
            Bachelor&rsquo;s Student of Computer Science
        </div>
        <div class="mb-4">
            Student at the University of Bari &ldquo;A. Moro&rdquo;
         <!-- 3542 Berry Street &centerdot; Taranto, IT 74122 &centerdot; XXX XXX XXXX &centerdot; -->
        </div>
        <div class="mb-4">
            <strong>Email:</strong>
            <a href="mailto:{{ site.author.mail }}">{{ site.author.mail }}</a>
        </div>
        <!-- <p class="lead mb-3">
            I'm <span>Andrea Esposito</span>, a Computer Science's Student. I'm
            a bachelor's student in Computer Science. My languages: C++ and
            <span>L<sup>A</sup>T<sub>E</sub>X</span>.
        </p> -->
        <div class="social-icons">
            {% for contact in site.data.contacts %}
                <a class="mr-2" href="{{ contact.link }}">
                    <span class="sr-only">{{ contact.name }}</span>
                    <i class="fa-lg {{ contact.icon }}"></i>
                </a>
            {% endfor %}
        </div>

    </div>
</div>
