<div class="row align-items-center justify-content-center">
    <div class="col col-md-3 mb-3 mb-md-0">
        <img alt="Andrea Esposito" class="img-thumbnail" src="{% profile_pic %}">
    </div>
    <div class="col-auto mb-3 mb-md-0">
        <div class="mb-4">
            <h1 class="mb-0 text-uppercase">
                <span itemprop="givenName">Andrea</span>
                <span itemprop="familyName">Esposito</span>
            </h1>
            Bachelor&rsquo;s Student of Computer Science
        </div>
        <div class="mb-4">
            Student at the University of Bari &ldquo;A. Moro&rdquo;
         <!-- 3542 Berry Street &centerdot; Taranto, IT 74122 &centerdot; XXX XXX XXXX &centerdot; -->
        </div>
        <div class="mb-5">
            <strong>Email:</strong>
            <a href="mailto:{{ site.author.mail }}">{{ site.author.mail }}</a>
        </div>
        <!-- <p class="lead mb-3">{{ site.data._strings.about_intro[page.lang] }}</p> -->
        <div class="social-icons">
            {% for contact in site.data.contacts %}
                <a href="{{ contact.link }}">
                    <span class="sr-only">{{ contact.name }}</span>
                    <i class="{{ contact.icon }}"></i>
                </a>
            {% endfor %}
        </div>

    </div>
</div>
