<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="main-navigation">
    <div class="container">
        <a class="navbar-brand" href="{% if page.url == '/index.html' %}#{% else %}/index.html{% endif %}">Andrea Esposito</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '/#about' | absolute_url }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '/#curriculum' | absolute_url }}">Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '/#education' | absolute_url }}">Education</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{home | absolute_url}}#awards">Awards and Certifications</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{home | absolute_url}}#skills">Skills</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '/#publications' | absolute_url }}">Publications</a>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link js-scroll-trigger" href="{{ '/#projects' | absolute_url }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ '/blog' | absolute_url }}">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
