<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="main-navigation">
    <div class="container">
        <a class="navbar-brand" href="{% if page.url == '/index.html' %}#{% else %}/index.html{% endif %}">Andrea Esposito</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#awards">Awards and Certifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#publications">Publications</a>
                </li>
                <li class="nav-item mr-auto">
                    <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#posts">Posts</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbar-language-selector" role="button">
                        {{site.data._strings.languages[page.lang]}}
                    </a>
                    <div aria-labelledby="navbar-language-selector" class="dropdown-menu">
                        {% unless page.is_post %}
                            {% for lang in site.data.languages %}
                                {% assign code = lang[0] %}
                                {% if code == page.lang %}
                                    {% assign lang_link = "#" %}
                                    {% assign active_class = " active" %}
                                {% else %}
                                    {% assign lang_link = page.translations[code] %}
                                    {% assign active_class = "" %}
                                {% endif %}
                                <a class="dropdown-item" href="{{ lang_link }}" title="Read in {{ lang[1].name.en }} ({{ lang[1].name.original }})">
                                    {{ code }}
                                    {% if active_class == " active" %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        {% else %}
                            <a class="dropdown-item" href="#">{{ page.lang }}</a>
                        {% endunless %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
