<nav class="navbar navbar-expand-lg navbar-light bg-body position-sticky fixed-top" id="main-navigation">
    <div class="container">
        <a class="navbar-brand" href="{% if page.url == '/index.html' %}#{% else %}/index.html{% endif %}">Andrea Esposito</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link {% if page.url == '/index.html' %} active {% endif %} js-scroll-trigger" href="{{ '/' | absolute_url }}">About Me</a></li>

                {% for node in site.pages %}
                    {% if node.layout == "page" and node.url != "/index.html" %}
                        {% if page.url == node.url %}
                            <li class="nav-item"><a class="nav-link active js-scroll-trigger" href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ node.url | absolute_url }}">{{ node.title }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <li class="nav-item"><a class="nav-link {% if page.url == '/blog.html' %} active {% endif %} js-scroll-trigger" href="{{ '/blog' | absolute_url }}">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>
