<h2>{{ site.data._strings.publications[page.lang] }}</h2>

{% assign publications = site.data.publications %}
{% for type in publications %}
    {% assign entry_type = type[0] | downcase | append: 's' %}
    <h3 id="{{ entry_type }}">{{ site.data._strings[entry_type][page.lang] }}</h3>
    <ul>
        {% for entry in type[1] %}
            <li>
                <span>{{ entry.author }}</span>
                (<time datetime="{{ entry.date }}">{{ entry.date }}</time>),

                {% if entry.subtitle %}
                    {% assign title = entry.title | append: '. ' | append: entry.subtitle %}
                {% else %}
                    {% assign title = entry.title %}
                {% endif %}

                &ldquo;<span>{{ title }}</span>&rdquo;.


                {% if entry.publisher %}
                    {% if entry.address %}
                        {% assign publisher = entry.publisher | append: ' (' | append: entry.address | append: ')' %}
                    {% else %}
                        {% assign publisher = entry.publisher %}
                    {% endif %}
                    <span class="font-italic">{{ publisher }}</span>.
                {% endif %}

                {% if entry_type == "books" %}
                    ISBN:
                    <a href="https://www.google.com/search?q={{ entry.isbn }}" target="_blank">
                        <span>{{ entry.isbn }}</span>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}
