<div class="card">
    {% if include.organization != null %}
    <div class="card-header text-muted">{{ org[0] }} (<em>{{ site.data._strings.organization[page.lang] }}</em>)</div>
    {% endif %}
    <img src="{{ include.repository.image }}" class="card-img-top" alt="{{ include.repository.name | replace: "-", " " }}">
    <div class="card-body">
        <h5 class="card-title">
            {{ include.repository.name | replace: "-", " " }}
            {% if include.repository.fork %}
            <small class="badge badge-pill badge-info"><em>fork</em></small>
            {% endif %}
        </h5>
        <p class="card-text">{{ include.repository.description }}</p>
    </div>
    <div class="card-footer text-center">
        <div class="btn-group d-flex" role="group" aria-label="Links">
            <a href="{{ include.repository.html_url }}" target="_blank" class="btn btn-primary">Repo</a>
            {% if include.repository.has_pages %}
            <a href="{{include.repository.homepage}}" class="btn btn-secondary">Docs</a>
            {% endif %}
        </div>
    </div>
</div>