<div class="card">
    {% if include.organization != null %}
        <div class="card-header text-muted">{{ org[0] }}
            (<em>{{ site.data._strings.organization[page.lang] }}</em>)</div>
    {% endif %}
    <img src="{{ include.repository.image }}" class="card-img-top" alt="{{ include.repository.name | replace: "-", " " }}">
    <div class="card-body">
        <h5 class="card-title">
            {{ include.repository.name | replace: "-", " " }}
            {% if include.repository.fork %}
                <small class="badge badge-pill badge-info">
                    <em>fork</em>
                </small>
            {% endif %}
        </h5>
        <p class="card-text">{{ include.repository.description | markdownify }}</p>
        <p class="card-text">
            {% for language in include.repository.languages%}
            <span class="badge badge-pill {% if forloop.first %} badge-info {% else %} badge-secondary {% endif %}">{{ language }}</span>
            {% endfor %}
        </p>
    </div>
    <div class="card-footer text-center">
        <div aria-label="Links" class="btn-group d-flex" role="group">
            <a href="{{ include.repository.html_url }}" target="_blank" class="btn btn-primary">Repo</a>
            {% if include.repository.has_pages %}
                <a href="{{include.repository.homepage}}" target="_blank" class="btn btn-secondary">Website</a>
            {% endif %}
        </div>
    </div>
</div>
