<section id="skills" class="resume-section p-3 p-lg-5 d-flex align-items-center">
    <div class="w-100 container">
        <h2>Skills</h2>

        <p>
            I'm a Computer Science student and I love constantly challenging
            myself learning new programming languages. So, sometimes, I like to
            self-evaluate my skills.
        </p>

        <ul>
            {% for skill in site.data.skills %}
            <li>
                {{ skill.name }}
                ({{ skill.level }}%)
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
