$main-font: 11pt "IBM Plex Mono", monospace;

$primary-color: #BB0B0B;

/* Screen breakpoints */
$xlarge-breakpoint: 1199px;
$large-breakpoint: 991px;
$medium-breakpoint: 768px;
$small-breakpoint: 480px;
