$main-font-sans: 14px "Helvetica Neue", Arial, Freesans, clean, sans-serif;
$main-font-mono: 11pt "IBM Plex Mono", monospace;
$main-font: $main-font-sans;

$primary-color: #BB0B0B;
$white-bg: #fefefe;

/* Screen breakpoints */
$xlarge-breakpoint: 1199px;
$large-breakpoint: 991px;
$medium-breakpoint: 768px;
$small-breakpoint: 480px;
