@import "_variables.scss";
@import "bootstrap/bootstrap.scss";

@import "code-highlight.scss";

body {
  position: relative;
  min-height: 100vh;
  padding-top: 50px !important;
}

html {
  scroll-behavior: smooth;
}

.btn-to-top {
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  opacity: 0;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.katex-display {
  overflow-x: auto;
}
