@import "_variables.scss";
@import "bootstrap/bootstrap.scss";

@import "code-highlight.scss";

.resume-section {
  position: relative;
  &:nth-of-type(odd) {
    background-position: top center;
    background-size: cover;
    background-color: $primary;
    color: rgba(255, 255, 255, 0.5);
  }
  &.overlay::after {
    background-color: black;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    content: "";
  }
}

.resume-section > div {
  z-index: 1;
}

.fill-viewport {
  min-height: 100vh;
}

body {
  position: relative;
  padding-top: 50px !important;
}
