<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link href="{{ site.baseurl }}/assets/favicon.ico" rel="shortcut icon">

    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">

    <link href="{{ site.baseurl }}/assets/css/main.css?{{ site.time | date: '%s' }}" rel="stylesheet">
    <title>Andrea Esposito</title>
</head>

<body data-spy="scroll" data-target="#main-navigation" id="page-top">
    <header>
        {% include navigation.html %}
    </header>

    {{content}}

    <footer class="text-center">
        Copyright &copy; 2019, Andrea Esposito.
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- <script>
		(function ($) {
			"use strict"; // Start of use strict

			// Smooth scrolling using jQuery easing
			$('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length) {
						$('html, body').animate({
							scrollTop: (target.offset().top)
						}, 1000, "easeInOutExpo");
						return false;
					}
				}
			});

			// Closes responsive menu when a scroll trigger link is clicked
			$('.js-scroll-trigger').click(() => {
				$('.navbar-collapse').collapse('hide');
			});

		})(jQuery); // End of use strict
	</script> -->
</body>

</html>
