<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<link href="/assets/favicon.ico" rel="shortcut icon">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
	<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
	<title>Andrea Esposito</title>
</head>

<body>
	<header class="navbar wrapper cd-main-header js-cd-main-header">
		<a id="logo-text" href="{% if page.url == '/index.html' %}#{% else %}/index.html{% endif %}">
			Andrea Esposito
		</a>
		{% include navigation.html %}
	</header>
	<hr />
	<div class="wrapper">
		<div id="toc">
			<h1>{{ site.data._strings.toc[page.lang] }}</h1>
			{% include toc.html html=content %}
		</div>
		<div class="content-wrapper">
			{{ content }}
		</div>
	</div>
	<hr />
	<footer class="navbar wrapper">
		<p>Copyright &copy; 2019, Andrea Esposito.</p>
	</footer>
	<a href="#" id="myBtn" title="Go to top">
		<i class="fas fa-chevron-up"></i>
	</a>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
	<script>
		window.onscroll = function () {
			scrollFunction()
		};

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				document
					.getElementById("myBtn")
					.style
					.display = "block";
			} else {
				document
					.getElementById("myBtn")
					.style
					.display = "none";
			}
		}
	</script>
</body>

</html>