---
layout: default
---

<article class="container p-3 p-lg-5">
        <header class="text-center">
            <h1>{{ page.title | smartify }}</h1>
            <div class="lead">
                {{ page.author }}
            </div>
            <div class="lead">
                {{ page.date | date: "%B %e, %Y" }}
            </div>
            <div class="my-2">
                {% for category in page.categories %}
                    <span class="badge badge-pill badge-primary mx-1">{{ category }}</span>
                {% endfor %}
            </div>
            <hr/>
        </header>
        
        <aside class="text-left rounded p-3 border bg-light mb-3">
            <h2>Table of Contents</h2>
            {% include toc.html html=content %}
        </aside>

        {{content}}
        
        <footer>
            <hr/>
            <div class="text-muted">
                Tags:
                {% for tag in page.tags %}
                    <span class="mx-1">#{{ tag }}</span>
                {% endfor %}
            </div>
        </footer>
</article>
