---
layout: default
---

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":[
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "{{ '/' | absolute_url }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "{{ '/blog/' | absolute_url }}"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Posts",
                "item": "{{ '/blog/posts/' | absolute_url }}"
            },
            {
                "@type": "ListItem",
                "position": 4,
                "name": "{{ page.date | date: '%Y'}}",
                "item": "{{ '/blog/posts/' | absolute_url }}{{ page.date | date: '%Y' }}/"
            },
            {
                "@type": "ListItem",
                "position": 5,
                "name": "{{ page.date | date: '%m'}}",
                "item": "{{ '/blog/posts/' | absolute_url }}{{ page.date | date: '%Y/%m' }}/"
            },
            {
                "@type": "ListItem",
                "position": 6,
                "name": "{{ page.title | smartify}}",
                "item": "{{ page.url | absolute_url }}"
            }
        ]
    }
</script>

<main>
    <article class="container p-3 p-lg-5">
        {% if page.image %}
            <header class="p-5 text-center header-image has-overlay"
                style="background-image: url({{ page.image | absolute_url }});">
        {% else %}
            <header class="text-center">
        {% endif %}
                <div>
                    <h1>{{ page.title | smartify }}</h1>
                    <div class="lead">
                        {{ page.author }}
                    </div>
                    <div class="lead">
                        {{ page.date | date: "%B %e, %Y" }}
                    </div>
                    <div class="my-2">
                        {% for category in page.categories %}
                        <a href="{{ '/blog/posts/categories/' | absolute_url | append: category }}"
                            class="badge badge-pill badge-primary mx-1">
                            {{ category }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </header>
            <hr />

            <nav aria-label="breadcrumbs">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ '/' | absolute_url }}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ '/blog/' | absolute_url }}">Blog</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ '/blog/posts/' | absolute_url }}">Posts</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a
                            href="{{ '/blog/posts/' | absolute_url }}{{ page.date | date: '%Y' }}/">{{ page.date | date: '%Y'}}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a
                            href="{{ '/blog/posts/' | absolute_url }}{{ page.date | date: '%Y/%m' }}/">{{ page.date | date: '%m'}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page.title | smartify }}</li>
                </ol>
            </nav>

            <aside class="text-left rounded p-3 border bg-light mb-3">
                <h2>Table of Contents</h2>
                {% include toc.html html=content %}
            </aside>

            {{ content }}

            <footer>
                <hr />
                <div class="text-muted">
                    Tags:
                    {% for tag in page.tags %}
                    <a href="{{ '/blog/posts/tags/' | absolute_url | append: tag }}"
                        class="text-muted mx-1">#{{ tag }}</a>
                    {% endfor %}
                </div>
            </footer>
    </article>
</main>
