---
layout: default
---

<article>
	<header class="text-center">
		<h1>
			{{ page.entry.title }}
			{% if page.entry.copyright contains "CC" %}
				<span class="ai ai-open-access fa-lg text-warning" title="Published in Open Access"></span>
			{% endif %}
		</h1>
		<address>
			{% assign authors = page.entry.author | split: ' and ' %}
			{% for author in page.entry.author_array %}
				<a rel="author">
					{{ author.first }} {{ author.last }}
				</a>
				{% unless forloop.last %},
				{% endunless %}
			{% endfor %}
		</address>
		{% if page.entry.doi %}
			<section>
				<a href="https://doi.org/{{ page.entry.doi }}" target="_blank">
					<span class="ai ai-doi fa-lg"></span>
					<span class="sr-only">DOI
					</span>
					{{ page.entry.doi }}
				</a>
			</section>
		{% endif %}
		<details open style="max-width: 80rch;" class="mx-auto mt-3">
			<summary class="h4">Abstract
			</summary>
			<p style="text-align: justify;">
				{{ page.entry.abstract }}
			</p>
		</details>
		<section>
			{% if page.entry.url %}
				<a class="btn btn-secondary" href="{{ page.entry.url }}" target="_blank">
					{% if page.entry.url contains "dl.acm.org" %}
						<span class="ai ai-acmdl fa-lg"></span>
						<span>ACM Digital Library
						</span>
					{% elsif page.entry.url contains 'ieeexplore.ieee.org' %}
						<span class="ai ai-ieee fa-lg"></span>
						<span>IEEE eXplore
						</span>
					{% elsif page.entry.url
						contains 'link.springernature.com'
						or page.entry.url
						contains 'rdcu.be'
						or page.entry.url
						contains 'nature.com' %}
						<span class="ai ai-springer fa-lg"></span>
						<span>Springer Nature
						</span>
					{% elsif page.entry.url contains 'ceur-ws' %}
						<span class="ai ai-ceur fa-lg"></span>
						<span>CEUR
						</span>
					{% else %}
						<span class="fas fa-file-pdf fa-lg"></span>
						<span>Paper
						</span>
					{% endif %}
				</a>
			{% endif %}
		</section>
	</header>
	<section>
		<h2>Related Blog Posts
		</h2>
		{% assign related_posts = site.posts
			| where: 'paper', page.entry.key %}
		{% for post in related_posts %}
			{% include post.html post=post %}
		{% endfor %}
	</section>
</article>
